table{
height: 60%;
width: 50%;
margin-left:25%;
border-collapse : collapse;
margin-left: auto;
margin-right: auto;
margin-top: 4%;
margin-bottom:10%;
background-color:var(--table);
}

th,td{
padding: 20px;
border: 1px solid black;
}

caption{
padding:5%;
font-weight : bold;
font-family: arial;
font-size: 2em;
text-shadow: .2em .2em .2em gray;
}

th{
background-color: #305882;
}

