Html{
height:100%;
width:100%;
}

body {
background-color:  #cfebf9;
font-family:Arial;
height:100%;
width:100%;
}
/*Menue bar*/
header {
height:18%;
width:auto;
margin:-10px 0px 0px -10px;
padding:0%;
border-style:outset;
display:flex;
justify-content:space-between;
background:#003153;
box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px,rgba(0, 0, 0, 0.05) 0px 5px 10px;
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}



header ul {
 display:flex;
  justify-content:space-between;
padding: 0 50px;


}
header ul li {
padding: 0 10px;

}


header img {
display:flex;
margin:-160px -30px -30px 0px;
padding: 0 50px;
<<<<<<< Updated upstream
max-width:90%;
 @media (max-width: 390px){
width:10%;
height:5%;
float:left;

<<<<<<< Updated upstream
=======
/*
=======

>>>>>>> Stashed changes
 @media (max-width: 390px){
    
    img{
    max-width:100%;
    height:300%;
<<<<<<< Updated upstream
    }*/
>>>>>>> Stashed changes
=======
    }
>>>>>>> Stashed changes
     }
}


svg {
  
   color:#E5E5E5;
}

li {
  list-style:none;
  margin: 50px 0px 0px -10px;

}
a{
  text-decoration:none;
 text-align:center;
  color:#E5E5E5;

}

.iconName {
padding:0;
margin: -15px 0px 0px 0px;
}

ul li a  {
line-height:40px;
transition:0.5s;
}

 a:hover  .icon svg{
transform: translateY(-20%);
color:#00b5cc;
}
a:hover {
color:#00b5cc;}


/*End Menue bar*/

  /* Style the list */
    ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      background-color: #eee;
    }

    /* Display list items side by side */
    ul.breadcrumb li {
      display: inline;
      font-size: 18px;
    }

    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }

    /* Add a color to all links inside the list */
    ul.breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
    }

    /* Add a color on mouse-over */
    ul.breadcrumb li a:hover {
      color: #01447e;
      text-decoration: underline;
    }
/*Footer*/
footer {
background:#003153;
text-align:center;
  color:#E5E5E5;
  padding:10px 0px 10px 0px;
  margin:5px -8px 5px -8px ;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px,rgba(0, 0, 0, 0.05) 0px 5px 10px;
width:auto;
height:auto;

}

/*themes*/
/*.themes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  background-color: var(--bg-color);
  margin-left: 1rem;
  margin-top: 20px;
}
.themes .theme {
  width: 30px;
  border-radius: 8px;
  height: 30px;
  cursor: pointer;
}
.themes .theme:nth-child(1) {
  background-color: #cfebf9;
}
.themes .theme:nth-child(2) {
  background-color: #444444;
}
/*.themes .theme:nth-child(3) {
  background-color: rgb(57, 2, 2);
}*/

body {
  background-color: var(--bg-color);
  color: var(--text);
}

svg {
  
   color:var(--svg);
}

:root,
:root.light {
  --bg-color: #fff;
  --bg-color1: #2cb0dc ;
  --text-color: #08376B;
}

:root.dark {
  --bg-color:#4e4e4e;
  --bg-color1: #00526e  ;
  --text-color: #000000;
}

/*.container {
  width: min(100% - 2rem, 1200px);
  margin-top: 80px;
  margin-inline: auto;
  background-color: var(--secondary);
  padding: 20px;
}*/

/*:root {
  --bg-color: #cfebf9;
  --text: #333;
}
.dark {
  --bg-color: #444444;
  --text: #ddd;
  --svg: #444444;
}*/
/*.red {
  --bg-color: rgb(57, 2, 2);
  --secondary: rgb(102, 23, 23);
  --text: rgb(235, 235, 235);
}*/

/*End Footer*/
